@import './base';

.alert {
  position: absolute;
  z-index: 999;
  top: 2%;
  left: 32%;
  right: 32%;
  opacity: 0.75;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
